@media only screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
  /* WHO */
  .who-image {
    width: 280px;
  }
  /* WHO END */
}

@media only screen and (max-width: 1024px) {
  /* HOME */
  .home-container p {
    width: 80%;
  }
  /* HOME END */
}

@media only screen and (max-width: 900px) {
  /* WHO */
  .who-image {
    width: 250px;
  }
  .who-profile-container {
    margin-top: 15px;
  }
  .who-profile-detail {
    min-width: 100px;
  }
  /* WHO END */
}

@media only screen and (max-width: 768px) {
  .main-title {
    text-align: center;
  }
  /* NAVBAR */
  .navbar {
    background-color: transparent;
    align-items: flex-end;
    padding: 0;
  }
  .menus {
    flex-direction: column;
    width: 150px;
    background-color: var(--background-primary);
    align-items: center;
    margin-top: 20px;
    margin-right: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;
    transform: scale(0);
  }
  .menus::after {
    width: 0; 
    height: 0; 
    background-color: transparent;
    border-left: var(--radius) solid transparent;
    border-top: var(--radius) solid transparent;
    border-right: var(--radius) solid var(--background-primary);
    border-bottom: var(--radius) solid var(--background-primary);
    right: 0px;
    margin-top: -16px;
    display: flex;
    align-items: flex-end;
  }
  .menu {
    padding: 10px;
  }
  .hamburger-btn {
    display: flex;
    margin-right: 20px;
    margin-top: 20px;
  }
  /* NAVBAR END */

  /* HOME */
  .home-container {
    padding: 10px 10px;
    width: 85%;
    margin: 0 auto;
  }
  .home-text {
    font-size: 16px;
  }
  .my-name {
    font-size: 64px;
    font-weight: 900;
  }
  .home-profile, .home-profile-detail {
    font-size: 24px;
    margin-bottom: 10px;
  }
  /* HOME END */


  /* WHO */
  .who-content {
    flex-direction: column;
  }
  .who-profile {
    margin-top: 40px;
  }
  .who-image {
    width: 300px;
  }
  .who-profile-detail {
    min-width: 120px;
  }
  /* WHO END */
}

@media only screen and (max-width: 480px) {
  .container {
    width: 85%;
  }
  .main-title {
    font-size: 50px;
  }
  /* HOME */
  .home-container {
    padding: 10px 10px;
    width: 85%;
    margin: 0 auto;
  }
  .home-text {
    font-size: 16px;
  }
  .my-name {
    font-size: 48px;
    font-weight: 900;
  }
  /* HOME END */

  
  /* WHO */
  .who-image {
    width: 250px;
  }
  .who-profile {
    padding-left: 0;
  }
  .who-profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profile-colon {
    display: none;
  }
  
  /* WHO END */
}

@media only screen and (max-width: 320px) {
  /* HOME */
  .home-text {
    font-size: 14px;
  }
  .my-name {
    font-size: 42px;
    font-weight: 900;
  }
  .home-profile, .home-profile-detail {
    font-size: 20px;
    margin-bottom: 10px;
  }
  /* HOME END */
}