@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --slider: 0px;
  --primary: #ffab44;
  --background-primary: #fff2e1;
  --radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

/* ===== NAVBAR ===== */

.navbar {
  padding: 20px 20px;
  background-color: var(--background-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
}
.menus {
  display: flex;
  gap: 15px;
}

/* the menu dynamic underline */
.menus::after {
  content: "";
  height: 2.5px;
  width: 75px;
  background-color: tomato;
  position: absolute;
  z-index: 9;
  margin-left: var(--slider);
  margin-top: 30px;
  transition: 0.5s;
}
.menu {
  padding: 5px 10px;
  width: 75px;
  background-color: transparent;
  border: none;
  color: #ffab44;
}
.menu:hover {
  cursor: pointer;
  color: #ff8c00;
}
.menu-active {
  border-bottom: 3px solid #01937C;
  transition: 3s;
}
.menu-unactive {
  border-bottom: none;
  transition: 3s;
}

.hamburger-btn {
  display: none;
  background-color: var(--primary);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.hamburger-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}
/* ===== NAVBAR END ===== */

.border{
  border: 8px solid #666;
}

.hero {
  height: 100px;
}