@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root {
  --slider: 0px;
  --primary: #ffab44;
  --primary-hover: #ff8c00;
  --background-primary: #FAF1E6;
  --secondary: #01937C;
  --radius: 10px;
  --font-size: 16px;
  --lato: 'Lato', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

/* ===== NAVBAR ===== */

.navbar {
  padding: 20px 0px;
  background-color: transparent; /* temporary */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 1400px;
}
.menus {
  display: flex;
  gap: 15px;
}

/* the menu dynamic underline */
.menus::after {
  content: "";
  height: 2.5px;
  width: 75px;
  background-color: var(--secondary);
  position: absolute;
  z-index: 9;
  margin-left: var(--slider);
  margin-top: 30px;
  transition: 0.5s;
}
.menu {
  padding: 5px 10px;
  width: 75px;
  background-color: transparent;
  border: none;
  color: #ffab44;
}
.menu:hover {
  cursor: pointer;
  color: #ff8c00;
}
.menu-active {
  border-bottom: 3px solid #01937C;
  transition: 3s;
}
.menu-unactive {
  border-bottom: none;
  transition: 3s;
}

.hamburger-btn {
  display: none;
  background-color: var(--primary);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.hamburger-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}
/* ===== NAVBAR END ===== */



/* ===== HOME ===== */
.home, .who {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.home {
  background-color: var(--background-primary);
}
.home-container {
  height: 100% !important;
  padding: 20px 0px;
  width: 70%;
  margin: 50px auto;
}
.home-container p {
  width: 70%;
}
.my-name {
  font-size: 64px;
  font-weight: bolder;
  font-family: var(--lato);
  color: var(--secondary);
  margin-left: -2px;
}
.profile {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.profile-detail {
  font-size: 24px;
  color: var(--primary);
  transition: 1s;
  position: absolute;
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
}
.profile-detail-left {
  text-indent: -200px;
}

/* ===== HOME END ===== */




/* ===== WHO ===== */

.who {
  background-color: white;
}
.main-title {
  font-size: 64px;
  font-weight: bolder;
  font-family: var(--lato);
  color: var(--secondary);
  margin-left: -2px;
}
.container {
  width: 70%;
  margin: 50px auto;
}
.who-content {
  display: flex;
  height: fit-content;
  padding: 40px 0;
  width: 100%;
}
.who-social {
  flex-basis: 40%;
}
.who-profile {
  flex-basis: 60%;
  padding-left: 20px;
}
.who-image {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}
.socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  gap: 10px;
}
.social {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.who-profile-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.profile-title-header {
  display: flex;
  align-items: center;
  font-weight: 900;
}
.who-profile-detail {
  min-width: 120px;
}
.social-btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--primary);
  background-color: white;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.social-btn:hover{
  border-color: var(--primary-hover);
  color: var(--primary-hover);
}
/* ===== WHO END ===== */

